<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
 
    <link href="/css/alber.css" rel="stylesheet">
    <title>Bienvenido a Mercado Liebre</title>
</head>

<body>

    <header class="main-header">
        <div class="contenedor">

            <div class="logo">
                <a href="/" title="Mercado Liebre"><img class="" src="/images/logo-mercado-liebre.svg" width="300"
                        height="auto" alt="imagen de logo Mercado Libre"></a>
            </div>


            <div class="navbar">

                <nav class="main-navbar">
                    
                        <a class="" href="#">Ofertas</a>
                        <a class="" href="#">Tiendas Oficiales</a>
                       <a class="" href="#">Vender</a>
                        <a class="" href="#">Ayuda</a>
                    
                </nav>
            </div>
            <div class="nav-cart">
                <a href="/rutaDelCarrito">
                    <i class="fas fa-shopping-cart"></i>
                    <span class="cart-items-qty">0</span>
                </a>
            </div>


        </div>
    </header>


</body>

</html>